body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDiv {
  width: 8rem;
  height: 2rem;
  display: grid;
  grid-template-columns: 2rem 2rem;
  grid-template-rows: 2rem 2rem;
  gap: 1rem;
}

.m {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: blue;
}